html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.piskvorky {
  width: 365px;
  height: 610px;
  /* Doplněno: aby tlačítka nepřesahovala box */
  overflow: visible;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin: 65px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
}

.hlavicka__obrazek {
  width: 365px;
  height: 220px;
  border-radius: 10px 10px 0 0;
}

.informace {
  margin: 0;
  padding: 20px 15px;
}

.informace__nadpis {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  font-size: 48px;
  line-height: 1.2;
}

.piskvorky__tlacitko {
  display: flex;
  flex-direction: column;
}

.piskvorky__tlacitko a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 15px 0;
  font-size: 18px;
}

.piskvorky__tlacitko--zelene {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.piskvorky__tlacitko--zelene:hover {
  background-color: #1cbb96;
}

.piskvorky__tlacitko--modre {
  background-color: #0197f6;
}

.piskvorky__tlacitko--modre:hover {
  background-color: #0090e9;
}

.pravidla {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 365px;
  max-width: 800px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin: 65px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.prehled-pravidel {
  margin-top: 10px;
  padding: 30px;
  flex-grow: 1;
}

.prehled-pravidel__nadpis {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
}

.prehled-pravidel__text li {
  padding: 0 0 10px 10px;
}

.prehled-pravidel__text--kolecko-bile,
.prehled-pravidel__text--krizek-bily {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.ukazky-ze-hry {
  padding: 0px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.priklad {
  margin: 0 10px 40px 10px;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priklad__obrazek {
  width: 330px;
}

.priklad__text {
  width: 330px;
  font-style: italic;
  padding-top: 5px;
}

.pravidla__tlacitko {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pravidla__tlacitko a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
}

.pravidla__tlacitko--zelene {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.pravidla__tlacitko--zelene:hover {
  background-color: #1cbb96;
}

.pravidla__tlacitko--modre {
  background-color: #0197f6;
}

.pravidla__tlacitko--modre:hover {
  background-color: #0090e9;
}
