html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.piskvorky {
  width: 365px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin: 3.25rem;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
}

.hlavicka__obrazek {
  width: 365px;
  height: 220px;
  border-radius: 10px 10px 0 0;
}

.informace {
  margin: 0;
  padding: 1.25rem 0.938rem;
}

.informace__nadpis {
  margin: 0;
  padding-bottom: 0.625rem;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.2;
}

.piskvorky__tlacitko a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 0.938rem 0;
  font-size: 1.1rem;
}

.piskvorky__tlacitko--zelene {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.piskvorky__tlacitko--zelene:hover,
.piskvorky__tlacitko--zelene:focus {
  background-color: #1cbb96;
}

.piskvorky__tlacitko--modre {
  background-color: #0197f6;
}

.piskvorky__tlacitko--modre:hover,
.piskvorky__tlacitko--modre:focus {
  background-color: #0090e9;
}

/* mobile first: úzká obrazovka / mobilní zařízení */
.pravidla {
  max-width: 800px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin: 3.25rem;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

.prehled-pravidel {
  margin-top: 0.625rem;
  padding: 0.625rem;
}

.prehled-pravidel__nadpis {
  margin: 0;
  padding-bottom: 0.625rem;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
}

.prehled-pravidel__text li {
  padding: 0 0 0.625rem 0.625rem;
}

.prehled-pravidel__text--kolecko-bile,
.prehled-pravidel__text--krizek-bily {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.ukazky-ze-hry {
  padding: 0;
}

.priklad {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.priklad__obrazek {
  width: 100%;
}

.priklad__text {
  font-style: italic;
  padding-top: 0.3rem;
}

/* široká obrazovka / tablet */
@media only screen and (min-width: 600px) {
  .pravidla {
    font-size: 1.2rem;
  }
  .prehled-pravidel__nadpis {
    font-size: 3rem;
  }
  .prehled-pravidel {
    padding: 1rem 1.5rem, 1rem 1rem;
  }
  .ukazky-ze-hry {
    padding: 1.875rem 1.875rem 0 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .priklad {
    margin: 0;
    padding-bottom: 2.5rem;
    width: calc((100% - 1.875rem) / 2);
  }
}

/* ultra široká obrazovka / PC */
@media only screen and (min-width: 1200px) {
  .pravidla {
    max-width: 1000px;
  }
}
