html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/* Pozadí všech stránek: */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

/* Úvodní stránka: Piškvorky */
.piskvorky {
  width: 365px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin: 3.25rem;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
}

.hlavicka__obrazek {
  width: 365px;
  height: 220px;
  border-radius: 10px 10px 0 0;
}

.informace {
  margin: 0;
  padding: 1.25rem 0.938rem;
}

.informace__nadpis {
  margin: 0;
  padding-bottom: 0.625rem;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.2;
}

.piskvorky__tlacitko a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 0.938rem 0;
  font-size: 1.1rem;
}

.piskvorky__tlacitko--zelene {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.piskvorky__tlacitko--zelene:hover,
.piskvorky__tlacitko--zelene:focus {
  background-color: #1cbb96;
}

.piskvorky__tlacitko--modre {
  background-color: #0197f6;
}

.piskvorky__tlacitko--modre:hover,
.piskvorky__tlacitko--modre:focus {
  background-color: #0090e9;
}

/* Stránka s pravidly: */
/* mobile first: úzká obrazovka / mobilní zařízení */
.pravidla {
  max-width: 800px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin: 3.25rem;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

.prehled-pravidel {
  margin-top: 0.625rem;
  padding: 0.625rem;
}

.prehled-pravidel__nadpis {
  margin: 0;
  padding-bottom: 0.625rem;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
}

.prehled-pravidel__text li {
  padding: 0 0 0.625rem 0.625rem;
}

.prehled-pravidel__text--kolecko-bile,
.prehled-pravidel__text--krizek-bily {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.ukazky-ze-hry {
  padding: 0;
}

.priklad {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.priklad__obrazek {
  width: 100%;
}

.priklad__text {
  font-style: italic;
  padding-top: 0.3rem;
}

/* široká obrazovka / tablet */
@media only screen and (min-width: 600px) {
  .pravidla {
    font-size: 1.2rem;
  }
  .prehled-pravidel__nadpis {
    font-size: 3rem;
  }
  .prehled-pravidel {
    padding: 1rem 1.5rem, 1rem 1rem;
  }
  .ukazky-ze-hry {
    padding: 1.875rem 1.875rem 0 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .priklad {
    margin: 0;
    padding-bottom: 2.5rem;
    width: calc((100% - 1.875rem) / 2);
  }
}

/* ultra široká obrazovka / PC */
@media only screen and (min-width: 1200px) {
  .pravidla {
    max-width: 1000px;
  }
}

/* Stránka hra: */
.hra {
  max-width: 80vmin;
  margin: 3% 0;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.hlavicka__nadpis {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 3rem;
  line-height: 1.2;
}

.hlavicka__detail {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.hrac {
  display: flex;
  align-items: center;
  margin: 0;
  width: calc(((100% - 1rem) / 3) * 2);
}

.hrac__text {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 2%;
}

.hrac__symbol--kolecko-bile {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(100%);
}

.hra__tlacitko {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc((100% - 1rem) / 3);
}

.hra__tlacitko a {
  display: block;
  margin: 0 3%;
  padding: 3%;
  border-radius: 5px;
}

.hra__tlacitko--zelene img,
.hra__tlacitko--modre img {
  width: 100%;
}

.hra__tlacitko--zelene {
  background-color: #1fcca4;
}

.hra__tlacitko--zelene:hover,
.hra__tlacitko--zelene:focus {
  background-color: #1cbb96;
}

.hra__tlacitko--modre {
  background-color: #0197f6;
}

.hra__tlacitko--modre:hover,
.hra__tlacitko--modre:focus {
  background-color: #0090e9;
}

.herni-pole {
  border: 2px solid black;
  border-right: none;
}

.herni-pole__rada {
  width: 100%;
  text-align: center;
  display: flex;
  padding: 0;
  border-bottom: 2px solid black;
}

.herni-pole:last-child {
  border-bottom: none;
}

/* Úzká obrazovka */
button {
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-right: 2px solid black;
  background: rgba(255, 255, 255, 0.3);
}

button:hover,
button:focus {
  background: rgba(255, 255, 255, 0.4);
}

/* Široka obrazovka */
@media only screen and (min-width: 600px) {
  button {
    width: 3rem;
    height: 3rem;
  }
}
