html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#615dad, #ffc8da);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.obsah {
  width: 365px;
  height: 610px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin: 65px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
}

.ctyrlistky img {
  border-radius: 10px 10px 0 0;
}

.informace {
  margin: 0;
  padding: 20px 15px;
}

.nazev {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  font-size: 48px;
  line-height: 1.2;
}

.tlacitka {
  display: flex;
  flex-direction: column;
}

.tlacitka a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 15px 0;
  font-size: 18px;
}

.tlacitko_pravidla {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.tlacitko_pravidla:hover {
  background-color: #1cbb96;
}

.tlacitko_nova_hra {
  background-color: #0197f6;
}

.tlacitko_nova_hra:hover {
  background-color: #0090e9;
}
